# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Runtime
tmp/
temp/

# Coverage
coverage/

# Build
dist/
build/

# VS Code
.vscode/

# IntelliJ
.idea/

generateHash.js/